@font-face {
    font-family: 'Exo 2';
    font-style: italic;
    font-weight: 600;
    src: local('Exo 2 Semi Bold Italic'), local('Exo2-SemiBoldItalic'), url(https://fonts.gstatic.com/s/exo2/v4/7cHtv4okm5zmbtYtEzM48HkJmAci.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }

/* general */
.row {
    margin: 0 0 40px 0;
}

body {
    background-image: url("../img/wood.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.main {
    background: #d8bf90;
    border: black solid 10px;
}


/* header */
#title {
    font-family: 'Exo 2', sans-serif;
    color: black;
    padding-left: 5%;
    font-size: 64px;
}

#picture-header {
    text-align: center;
}

#header-img {
    width: 90%;
    position: relative;

}

#header-img {
    padding-bottom: 60px;
    border-bottom: 4px solid #670A0A;
}



/* About Me */
#about-me {
    padding: 0 5%;
    text-align: justify;
    font-family: 'Fugaz One', cursive;
}

#about-me p {
    font-size: 1.5rem;
}

#about-me-header {
    text-align: left;
    color: black;
    font-weight: 700;
    text-align: center;
    font-family: 'Fugaz One', cursive;
    font-size: 3.5em;
}


/* portfolio */

#portfolio {
    align-content: center;
    font-family: 'Fugaz One', cursive;
}

#portfolio-header {
    text-align: center;
    font-size: 3em;
}

.project {
    text-align: center;
    
}
.portfolio-project-name {
    font-size: 2.5em;
}

.project-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;


}


/* Portfolio Slideshow */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
.mySlides {
    display: none;
    text-align: justify;
}

.github-code-link {
    text-decoration: none;
    color: #670A0A;
    font-size: 1.1em
}

.github-code-link:hover {
    color: black;
    font-size: 1.25em;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #670A0A;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
 
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: whitesmoke;
  }


/* skills */
#skills {
    font-family: 'Fugaz One', cursive;

}

#skills h2 {
    text-align: center;
    padding-bottom: 5px;
    border-bottom: #670A0A 2px solid;
}

#list-of-skills {
    list-style-type: none;
    border: #670A0A 5px solid;
    margin: 5%;
    padding: 5%;
    background: whitesmoke;
    font-size: 20px;
    box-shadow: black 0 0 8px 8px
}


/* footer */
footer {
    text-align: center;
}

a {
    text-decoration: none;
}

i {
    font-size: 3em;
    color: #670A0A;
    
}
i:hover {
    font-size: 4em;
    color: black;

}


@media screen and (max-width: 720px) /*and  (min-width: 550px)*/ {
    .single-skill {
        font-size: 0.7em;
    }
    #portfolio-header, .portfolio-project-name {
        font-size: 2em;
    }
    #portfolio {
        text-align: center;
    }
    #title {
        font-size: 48px;
    }

}

@media screen and (max-width: 549) and (min-width: 0px) {
    #list-of-skills {
        
        padding: 40px;
    }
    #about-me-text {
        text-align: center;
    }
    #title {
        font-size: 48px;
    }
}
